<!DOCTYPE html>
<html>
<head>
  <title>Invoice Gen</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: "Titillium Web", "Source Sans Pro", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
      font-size: 1em;
      color: #343a40;
      background-color: #fff;
      -webkit-font-smoothing: antialiased;
      padding-top: 50px;
    }

    p {
      font-weight: 300;
    }

    .title {
      font-weight: 600;
      font-size: 1.3em;
    }

    td, .thin {
      font-weight: 300;
    }

    .seperator {
      border-bottom: 1px solid black;
      width: 500px;
    }

    .invoice-type {
      background-color: black;
      color: white;
      text-align: left;
    }

    .invert-color {
      background-color: black;
      color: white;
    }

    .col-half {
      width: 50%;
      display: inline-block;
      float: left;
      height: 175px;
      margin-top: 15px;
    }

    .bb-none {
      border-bottom: none !important;
    }

    .bt-none {
      border-top: none !important;
    }

    .bl-none {
      border-left: none !important;
    }

    .br-none {
      border-right: none !important;
    }

    .text-small {
      font-size: 0.5em;
    }

    .currency {
      float: left;
    }

    table {
      font-size: 0.8em;
    }

    .sep {
      margin: 15px 0px 30px 0px;
      width: 100%;
      height: 2px;
      background-color: #DEE2E6;
    }

    .bold {
      font-weight: 700;
    }

    .item-cell {
      border: none !important;
    }
  </style>
</head>
<body>
  <div class="row justify-content-center text-center mt-5">
    <div class="col-md-12 mb-4">
      <div class="title">[BUSINESS_NAME]</div>
      <div class="thin">[BUSINESS_ADDRESS]</div>
      <div class="thin">[BUSINESS_CITY_PROVINCE_COUNTRY]</div>
      <div class="thin">[BUSINESS_POSTAL_CODE]</div>
      <div class="thin text-small">[BUSINESS_PHONE]</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 mb-4">
      <div class="text-justify text-uppercase thin pl-2 invoice-type mb-2">[INVOICE_TYPE]</div>
      <div class="col-half">
        <h4>BILL TO:</h4>
        <div class="thin">[CUSTOMER_NAME]</div>
        <div class="thin">[CUSTOMER_ADDRESS]</div>
        <div class="thin">[CUSTOMER_CITY_PROVINCE_COUNTRY]</div>
        <div class="thin">[CUSTOMER_POSTAL_CODE]</div>
      </div>
      <div class="col-half">
        <div><span class="thin">DATE:</span> [INVOICE_DATE]</div>
        <div><span class="thin text-uppercase">[INVOICE_TYPE] #:</span> [INVOICE_NUMBER]</div>
        <div><span class="thin text-uppercase">Tax #:</span> [BUSINESS_TAX_NUMBER]</div>
        <div><span class="thin">CUSTOMER ID:</span> [CUSTOMER_ID]</div>
      </div>
    </div>
    <div class="col-sm-10">
      <table class="table table-bordered">
        <tr>
          <th>Description</th>
          <th>Units</th>
          <th>Rate</th>
          <th>Amount ([CURRENCY])</th>
        </tr>
        [INVOICE_ITEMS]
        <tr>
          <td colspan="3" class="bb-none bl-none text-right">Subtotal</td>
          <td class="bb-none text-right"><span class="currency">$</span>[INVOICE_SUBTOTAL]</td>
        </tr>
        <tr>
          <td colspan="3" class="bb-none bt-none bl-none text-right">Sales Tax [INVOICE_SALES_TAX_DESC]</td>
          <td class="bb-none bt-none text-right"><span class="currency">$</span>[INVOICE_SALES_TAX]</td>
        </tr>
        <tr>
          <td colspan="3" class="bb-none bt-none bl-none text-right">Total</td>
          <td class="text-right invert-color"><span class="currency">$</span>[INVOICE_TOTAL]</td>
        </tr>
      </table>
    </div>
    [FOLLOWUP_INFO]
    <div class="col-sm-10">
      <p class="text-center text-small">
        If you have any questions about this [INVOICE_TYPE], please call [BUSINESS_PHONE] or email <em>[BUSINESS_EMAIL]</em>
      </p>
    </div>
  </div>
</body>
</html>