<!DOCTYPE html>
<html>
<head>
  <title>Invoice Gen</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: "Titillium Web", "Source Sans Pro", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #343a40;
      background-color: #fff;
      -webkit-font-smoothing: antialiased
    }

    p, h1, h2, h3, h4, h5 {
      margin: 0;
    }

    .thinner {
      font-weight: 200;
    }

    .thin {
      font-weight: 300;
    }

    .bold {
      font-weight: 700;
    }
  </style>
</head>
<body>
  <h1>Hello world!</h1>
  <p class="thin">This is my invoice generator.</p>
</body>
</html>